# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for most servers.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You SHOULD edit the following:
    sv_hostname "RedZone Survival / Loot / Craft - Serveur Post-Apocalyptique"
    sets sv_projectName "RedZone Survival"
    sets sv_projectDesc "RedZone — La Survie Humaine dépend de vous"
    ##sets locale "FR-CA"
    sets Fondateur "GrandchefStream"
	sets Developpeur "VoigthQC"
	sets Discord "https://discord.gg/KtxyBudf"

## You CAN edit the following:
    sv_enforceGameBuild 3570 #mp2023_02 - The Chop Shop // 3258 #mp2024_01 - Bottom Dollar Bounties // 3407 #mp2024_02 - Agents of Sabotage // 3570 - Money Fronts
    sv_licenseKey ""
    sv_lan 1
    sv_maxclients 4
    endpoint_add_tcp "0.0.0.0:31120"
    endpoint_add_udp "0.0.0.0:31120"
    set steam_webApiKey ""
    set resources_useSystemChat true
    sets tags "custom, fr, qc, Survive, Post Apocalyptyque"

  # Set an optional server info and connecting banner image url.
  # Size doesn't matter, any banner sized image will be fine.
    sets banner_detail "https://i.postimg.cc/vTB17b0f/Redzone_ban.png"
    sets banner_connecting "https://i.postimg.cc/5y60YptB/redzone-rond-logo.png"
  # Loading a server icon (96x96 PNG file)
    load_server_icon redzone_logo.png

  # enable OneSync (required for server-side state awareness) ## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
    # Pool Size Settings
    # increase_pool_size "CMoveObject" 75               # Max: 75
    # increase_pool_size "FragmentStore" 14000          # Max: 14000
    # increase_pool_size "OcclusionInteriorInfo" 20     # Max: 20
    # increase_pool_size "OcclusionPathNode" 5000       # Max: 5000
    # increase_pool_size "OcclusionPortalEntity" 750    # Max: 750
    # increase_pool_size "OcclusionPortalInfo" 750      # Max: 750
    # increase_pool_size "PortalInst" 225               # Max: 225
    # increase_pool_size "ScaleformStore" 200           # Max: 200
    # increase_pool_size "StaticBounds" 5000            # Max: 5000
    increase_pool_size "TxdStore" 6000               # Max: 26000

## These resources will start by default.
    ensure mapmanager
    ensure chat
    #ensure spawnmanager
    ensure sessionmanager
    #ensure basic-gamemode
    ensure hardcap

## GENERAL PERMISSIONS
    exec redzone.cfg
    exec permissions.cfg
    
## ANTICHAET 
	ensure ElectronAC
    
## Heavy stuff to start first (mlos, clothes, vehicles)
    ensure bob74_ipl
    ensure [base_clan]
    ensure [Bunkers]
    ensure [Esthetiques]
    ensure [medical]
    ensure [Zone_trade]
    ensure beer
    ensure Better_Zancudo
    ensure Better_Zancudo_MedicalPropsFix
    ensure Blaine_County_caravan
    ensure Paleto_scrap
    ensure Quin Yar Village
    ensure [test]
    ensure Qadir_City
    ensure [Cayo_Perico]
    ensure [Vetements]
    ensure [Garage]
    ensure [voice]
    
## Véhicules apocalypse    
    ensure Vehi_apocalypse

## Armes
    ensure [Armes_mod]

## BASIC STARTS & OX
    ensure oxmysql
    ensure ox_lib
    ensure ox_core
    ensure ox_target
    ensure ox_inventory
    ensure illenium-appearance
    ensure pma-voice

    ensure ox_fuel

## ADMIN STUFF  -- À RETIRER SUR LIVE SERVER
    ensure ox_commands    ##devstuff
    ensure dolu_tool      ##devstuff
    ensure vMenu		  ##devstuff

## SCRIPTS
    ensure vqc_core
    ensure [Script]
    ensure [lunar]
    ensure [Wasabi]
    ensure [zsx]

## KEEP LAST
    ## le hud doit démarrer ici
    ensure val-hud